<% kind_select_options = [['Book', 1], ['Music', 2], ['Movie', 3], ['Game', 4]] %>
<div class="content-pane">
  <h2 class="title center-text">Add Media</h2>
  <%= form_tag "/media", method:"post" do %> 

  <%= label_tag :title, "Title: " %>
  <%= text_field_tag :title %>
  <br />
  
  <%= label_tag :kind, "Type of Media: " %>
  <%= select_tag :kind, options_for_select(kind_select_options) %>
  <br />

  <%= label_tag :author, "Author: " %>
  <%= text_field_tag :author %> 
  <br />

  <%= label_tag :aux, "Genre: " %>
  <%= text_field_tag :aux %>
  <br />

  <%= submit_tag "Create!" %>
  <% end %>

</div>
