<% kind_select_options = [['Book', 1], ['Music', 2], ['Movie', 3], ['Game', 4]] %>
<div class="content-pane">
  <h2 class="title center-text">Add Media</h2>
  <%= form_tag do %>
      <table><tr>

  <mediaType class="mediaType">
      <td><%= label_tag :kind, "Type of Media: "%></td>
      <td><%= select_tag :kind, options_for_select(kind_select_options), id: "kind" %></td>
  </mediaType></tr>


  <field class="field">
    <tr>
      <td><%= label_tag :title, "Title: ", id: "title-label" %></td>
      <td><%= text_field_tag :title%></td>
    </tr>

    <tr>
      <td><%= label_tag :author, "Author: ", id: "author-label" %></td>
      <td><%= text_field_tag :author %></td>
    </tr>

    <tr>
      <td><%= label_tag :aux, "Genre: ", id: "aux-label" %></td>
      <td><%= text_field_tag :aux %></td>
    </tr>

    <tr>
      <td><%= label_tag :tags, "Tags", id: "tag-label" %></td>
      <td><%= text_field_tag :tags %></td>
    </tr>
  </field>

  <buttonCreate class="buttonCreate">
    <tr><td>
    <%= button_tag "Create!", type: 'button', id: 'create-button' %></td></tr>
  </buttonCreate>
          </table>

  <% end %>
</div>
