
<h2>Log in</h2>
<%= content_tag :h3 do %>
Failed username password combination
<% end if @failed_attempt %>

<%= form_for(:session, :url => '/authenticate') do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="actions">
    <%= f.submit "Sign in" %>
  </div>
<% end %>

