<h2 style="padding-left: 10px;"> Sign up </h2>


<%= form_for(:session, url: '/signupHook') do |f| %>
    <table>
  <div class="field">
    <tr><td><%= f.label :name %></td>
    <td><%= f.text_field :name %></td></tr>
  </div>

  <div class="field">
    <tr><td><%= f.label :phone %></td>
    <td><%= f.text_field :phone %></td></tr>
  </div>

  <div class="field">
    <tr><td><%= f.label :zipcode %></td>
    <td><%= f.text_field :zipcode %></td></tr>
  </div>

  <div class="field">
    <tr><td><%= f.label :email %></td>
    <td><%= f.text_field :email %></td></tr>
  </div>
  <div class="field">
    <tr><td><%= f.label :password %></td>
    <td><%= f.password_field :password %></td></tr>
  </div>
  <div class="actions">
    <tr><td><%= f.submit "Register" %></td></tr>
  </div>

<% end %>
